@import "bourbon/bourbon";

$purple: #4400bb;
$red: #bb0044;

* {
  margin: 0;
  padding: 0;
}

@include keyframes(pulse) {
  0% {
    background: shade($purple, 25%);
  }
  50% {
    background: shade($red, 50%);
  }
  100% {
    background: shade($purple, 25%);
  }
}

body {
  background: $purple;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  &.pulse {
    @include animation(pulse 4.0s ease-in-out);
    @include animation-iteration-count(infinite);
  }
}

.scripts {
  display: none;
}