* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  line-height: 20px; }

canvas {
  -webkit-transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1); }

button {
  -webkit-transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: #6464ff;
  color: #fff;
  display: block;
  position: absolute;
  text-transform: capitalize;
  border: none;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  text-align: center;
  -webkit-animation: throb 2s infinite;
  -moz-animation: throb 2s infinite;
  animation: throb 2s infinite;
  outline: none; }

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1); }

  10% {
    -webkit-transform: scale(1.125);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); }

  20% {
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); } }

@-moz-keyframes throb {
  0% {
    -moz-transform: scale(1); }

  10% {
    -moz-transform: scale(1.125);
    -moz-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); }

  20% {
    -moz-transform: scale(1);
    -moz-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); } }

@-o-keyframes throb {
  0% {
    -o-transform: scale(1); }

  10% {
    -o-transform: scale(1.125); }

  20% {
    -o-transform: scale(1); } }

@keyframes throb {
  0% {
    transform: scale(1); }

  10% {
    transform: scale(1.125);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); }

  20% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); } }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.9) url(../images/ajax-loader.svg) center center no-repeat;
  background-size: 16px 16px;
  margin-left: -16px;
  margin-top: -16px;
  border-radius: 50%;
  -webkit-transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0); }

  to {
    -o-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    transform: rotate(0); }

  to {
    transform: rotate(360deg); } }
