@import "bourbon/bourbon";

$purple: rgb(133, 96, 168);
$orange: rgb(246, 149, 100);

@include keyframes(breathe) {
  0% {
    background: $purple;
  }
  50% {
    background: $orange;
  }
  100% {
    background: $purple;
  }
}

* {
  margin: 0;
  padding: 0;
}

// body {
//   @include animation-name(breathe);
//   @include animation-duration(10s);
//   @include animation-timing-function($ease-out-circ);
//   @include animation-iteration-count(infinite);
// }