* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  line-height: 20px; }

button {
  background: #6464ff;
  color: #fff;
  display: block;
  position: absolute;
  text-transform: capitalize;
  border: none;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  text-align: center;
  -webkit-animation: throb 2s infinite;
  -moz-animation: throb 2s infinite;
  animation: throb 2s infinite;
  outline: none; }

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1); }

  10% {
    -webkit-transform: scale(1.125);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); }

  20% {
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); } }

@-moz-keyframes throb {
  0% {
    -moz-transform: scale(1); }

  10% {
    -moz-transform: scale(1.125);
    -moz-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); }

  20% {
    -moz-transform: scale(1);
    -moz-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); } }

@-o-keyframes throb {
  0% {
    -o-transform: scale(1); }

  10% {
    -o-transform: scale(1.125); }

  20% {
    -o-transform: scale(1); } }

@keyframes throb {
  0% {
    transform: scale(1); }

  10% {
    transform: scale(1.125);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); }

  20% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1); } }
