@-webkit-keyframes breathe {
  0% {
    background: #8560a8; }

  50% {
    background: #f69564; }

  100% {
    background: #8560a8; } }

@-moz-keyframes breathe {
  0% {
    background: #8560a8; }

  50% {
    background: #f69564; }

  100% {
    background: #8560a8; } }

@-o-keyframes breathe {
  0% {
    background: #8560a8; }

  50% {
    background: #f69564; }

  100% {
    background: #8560a8; } }

@keyframes breathe {
  0% {
    background: #8560a8; }

  50% {
    background: #f69564; }

  100% {
    background: #8560a8; } }

* {
  margin: 0;
  padding: 0; }
